@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap");

:root {
  --col-light: rgba(255, 255, 255, 0.627);
  --col-dark: #000;
  --col-accent: #65656537;
  --col-accent2: #00cde4;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: 200;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--col-dark);
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.container {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  flex-flow: wrap;
  flex-basis: auto;
  flex-wrap: wrap;
  padding: 1rem;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 1rem;
  justify-content: center;
  justify-content: center;
}

.card-body {
  color: black;
  box-sizing: border-box;
  min-width: 200px;
  padding: 10px;
  background-color: rgb(26, 26, 26);
}

.modal-body {
  align-content: center;
  padding: 2rem 5rem;
}
.card-img {
}
