@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap");

:root {
  --col-light: rgba(255, 255, 255, 0.627);
  --col-dark: #000;
  --col-accent: #65656537;
  --col-accent2: #00cde4;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "montserrat, sans-serif";
  font-weight: 200;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--col-dark);
  color: var(--col-light);
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.container {
  width: 100%;
  margin: 20px 20px 0 20px;
  text-align: center;
}

.grid {
  display: grid;
  flex-flow: wrap;
  flex-basis: auto;
  flex-wrap: wrap;
  padding: 1rem;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, 300px);
  column-gap: 8px;
  row-gap: 8px;
  grid-gap: 0.2em;
  justify-content: center;
  justify-content: center;
}

.card-body {
  background-color: beige;
  box-sizing: border-box;
  min-width: 200px;
  padding: 10px;
  background-color: var(--col-accent);
}
